node_modules

uploads/*
!uploads/.gitkeep
!uploads/temp/
!uploads/reports/
!uploads/logos/
uploads/temp/*
uploads/reports/*
uploads/logos/*
!uploads/temp/.gitkeep
!uploads/reports/.gitkeep
!uploads/logos/.gitkeep

dist

src/tests/integration/test-logo.png
coverage

# SQLite files
prisma/src/database/sqlite.db
prisma/src/database/sqlite.db-journal
prisma/e2e_test.db
prisma/e2e_test.db-journal