.organization-header {
  &__title {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    text-transform: capitalize;
    font-weight: 500;

    img {
      width: 5rem;
      height: 5rem;
    }

    button {
      img {
        width: 2rem;
        height: 2rem;
      }

      &:is(button) {
        padding: 0;
        border-radius: 50%;
        height: unset;
      }
    }
  }

  &__description {
    margin-top: 1.5rem;
  }

  &__animals {
    margin-top: 1rem;
    font-weight: 500;
  }
}
