@use '@sass/abstract/mixins' as *;
@use '@sass/abstract/breakpoints' as *;

.organization-header {
  margin-top: 1.5rem;

  &__title {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    text-transform: capitalize;
    font-weight: 500;

    @include sm {
      gap: 1rem;
      h1 {
        font-size: 1.2rem;
      }
    }

    img {
      width: 5rem;
      height: 5rem;

      @include sm {
        width: 4rem;
        height: 4rem;
      }
    }

    .edit-icon {
      @include action-button-styles;
    }
  }

  &__description {
    margin-top: 1.5rem;
  }

  &__separator {
    margin: 1.5rem 0;
  }

  &__animals {
    font-weight: 600;
  }
}
