.organization-header {

  &__title {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    text-transform: capitalize;

    img {
      width: 5rem;
      height: 5rem;
    }
  }

  &__description {
    margin-top: 1.5rem;
  }
}
