.report {
  margin: 0 auto;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &--helper-text {
      font-size: 0.875rem;
      font-weight: 500;
    }

    &--location {
      p {
        margin-bottom: 0.5rem;
      }

      [role='tablist'] {
        width: 100%;

        button {
          width: 100%;
        }
      }
    }

    &--city-postal-wrapper {
      display: flex;
      gap: 1rem;
      margin-top: 1.5rem;

      > * {
        width: 100%;
      }
    }

    &--contact {
      p {
        margin-top: 0.5rem;
        margin-left: 2.5rem;
        font-weight: unset;
        font-style: italic;
      }
    }

    &--error-message {
      margin-top: 0.5rem;
    }

    .map-pin {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 500;
      transform: translate(-50%, -50%);
      pointer-events: none;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
