.organization {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'header header header contact'
    'needs needs volunteer volunteer';
  gap: 1.5rem;

  .organization-header {
    grid-area: header;
  }

  .organization-contact {
    grid-area: contact;
  }

  > :nth-child(3) {
    grid-area: needs;
  }

  > :nth-child(4) {
    grid-area: volunteer;
  }
}
