.organization {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__needs,
  &__volunteering {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__needs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &--header {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &--add-button:is(button) {
      padding: 0;

      img {
        width: 1.5rem;
      }
    }

    > :first-child {
      grid-column: span 2;
    }
  }
}
