.organization {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'header header header contact'
    'needs needs volunteer volunteer';
  gap: 1.5rem;

  .organization-header {
    grid-area: header;
  }

  .organization-contact {
    grid-area: contact;
  }

  &__needs {
    grid-area: needs;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  > :nth-child(4) {
    // TODO: change to class when component is ready
    grid-area: volunteer;
  }
}
