.rich-text-editor {
  .rsw-ce[contentEditable='false']:empty:not(:focus):before {
    color: hsl(var(--muted-foreground) / 46%);
    content: attr(placeholder);
    pointer-events: none;

    span {
      font-family: inherit !important; // needed to override inline library style
    }
  }

  .rsw-ce[contentEditable='false'] {
    cursor: not-allowed;
  }
}
