.organizations-table {
  thead tr {
    &:hover {
      background-color: transparent;
    }
  }
  tbody tr {
    text-transform: capitalize;

    td {
      &[data-column='email'] {
        text-transform: none;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}
