.register {
  .heading-primary {
    margin-bottom: 2rem;
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

    &-checkbox {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;

      &#{&} input[type='checkbox'] {
        margin-top: 0;
        width: 1.5rem;
        height: 1.5rem;
        accent-color: hsl(var(--primary));
      }
    }
  }
}
