@use '../../sass/abstract/mixins' as *;

.needs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  &__header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__add-button {
    padding: 0;
    border-radius: 50%;
    height: unset;

    .add-icon {
      @include action-button-styles;
      width: 2rem;
      height: 2rem;
    }

    &:hover {
      background-color: hsl(var(--primary));
    }
  }

  > :first-child,
  &__empty {
    grid-column: span 2;
  }
}
