@use '@sass/abstract/breakpoints' as *;

.user-menu {
  &__trigger {
    position: relative;
    display: flex;
    flex-shrink: 0;

    &--avatar {
      @include sm {
        width: 3rem;
        height: 3rem;
      }
    }

    &--badge {
      position: absolute;
      top: -10%;
      right: -16%;
      border-radius: 50%;
      padding: 0;
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      padding: 0.2rem;

      @include sm {
        width: 1.2rem;
        height: 1.2rem;
        top: -5%;
        right: -8%;
      }
    }
  }

  &__content {
    a {
      width: 100%;
    }
  }
}
