.header {
  background-color: hsl(var(--secondary));

  &__content {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    ul,
    li {
      display: inline-flex;
      align-items: center;
      gap: 2rem;
      list-style: none;
    }
  }
}
