.header {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;

    &--image {
      width: 2.5rem;
    }
  }

  &__nav {
    ul,
    li {
      display: inline-flex;
      align-items: center;
      gap: 2rem;
      list-style: none;
    }
  }
}
