.reports {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.report-modal {
  width: 90vw;
}

.report-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__subheader {
    font-weight: 500;
  }

  &__date-status {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 1rem;

    &--badge {
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }
  }

  &__geolocation {
    button {
      display: flex;
      gap: 1rem;
    }
  }
}
