@use '@sass/abstract/breakpoints' as *;

.organization-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  @include sm {
    flex-direction: column-reverse;
  }

  &__data {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.2rem;

    &--address {
      display: flex;
      text-transform: capitalize;
    }
  }
}
