// colors
$color-primary-yellow: #facc15;
$color-accent-brown: #5d4037;
$color-neutral-taupe: #d7ccc8;
$color-neutral-light: #f9f9f9;
$color-text-dark: #212121;

// font sizes
$font-size-regular: 1rem;
$font-size-medium: 1.5rem;
// $font-size-large: 2rem;
// $font-size-x-large: 2.5rem;

// line height
$line-height-regular: 1.6;
$line-height-small: 1.2;
$line-height-medium: 1.3;
$line-height-large: 1.4;
